<li class="treeview">
    <a href="#">
        <i class="fa fa-edit"></i> <span>运维平系统（ops）</span>
        <span class="pull-right-container">
              <i class="fa fa-angle-left pull-right"></i>
            </span>
    </a>
    <ul class="treeview-menu">
        <li><a href="/ops/manager/deployment"><i class="fa fa-circle-o"></i> 发布平台</a></li>
        <li><a href="/ops/manager/monitor"><i class="fa fa-circle-o"></i> 监控平台</a></li>
        <li><a href="pages/forms/general.html"><i class="fa fa-circle-o"></i> 日志平台</a></li>
        <li><a href="pages/forms/advanced.html"><i class="fa fa-circle-o"></i> 其他</a></li>
    </ul>
</li>
<li class="treeview">
    <a href="#">
        <i class="fa fa-edit"></i> <span>用户管理（ops）</span>
        <span class="pull-right-container">
              <i class="fa fa-angle-left pull-right"></i>
            </span>
    </a>
    <ul class="treeview-menu">
        <li><a href="/user/sqlmanagement"><i class="fa fa-circle-o"></i> sql审计用户管理</a></li>
        <li><a href="pages/forms/general.html"><i class="fa fa-circle-o"></i> 运维系统用户管理 </a></li>
        <li><a href="pages/forms/advanced.html"><i class="fa fa-circle-o"></i> 其他</a></li>
    </ul>
</li>
<li class="treeview">
    <a href="#">
        <i class="fa fa-folder"></i> <span>terraform (ops)</span>
        <span class="pull-right-container">
              <i class="fa fa-angle-left pull-right"></i>
            </span>
    </a>
    <ul class="treeview-menu">
        <li><a href="pages/examples/invoice.html"><i class="fa fa-circle-o"></i> Invoice</a></li>
        <li><a href="pages/examples/profile.html"><i class="fa fa-circle-o"></i> Profile</a></li>
        <li><a href="pages/examples/login.html"><i class="fa fa-circle-o"></i> Login</a></li>
        <li><a href="pages/examples/register.html"><i class="fa fa-circle-o"></i> Register</a></li>
        <li><a href="pages/examples/lockscreen.html"><i class="fa fa-circle-o"></i> Lockscreen</a></li>
        <li><a href="pages/examples/404.html"><i class="fa fa-circle-o"></i> 404 Error</a></li>
        <li><a href="pages/examples/500.html"><i class="fa fa-circle-o"></i> 500 Error</a></li>
        <li><a href="pages/examples/blank.html"><i class="fa fa-circle-o"></i> Blank Page</a></li>
        <li><a href="pages/examples/pace.html"><i class="fa fa-circle-o"></i> Pace Page</a></li>
    </ul>
</li>
<li class="treeview">
    <a href="#" id="get-k8s-ns">
        <i class="fa fa-share"></i> <span>kubernetes (ops)</span>
        <span class="pull-right-container">
              <i class="fa fa-angle-left pull-right"></i>
            </span>
    </a>
    <ul class="treeview-menu">
        <li><a href="/home/k8s/nodepage"><i class="fa fa-circle-o"></i> Node节点</a></li>
        <li class="treeview">
            <a href="#"><i class="fa fa-circle-o"></i> Namespaces
                <span class="pull-right-container">
                  <i class="fa fa-angle-left pull-right"></i>
                </span>
            </a>
            <ul class="treeview-menu" id="k8s-ns-show">


                    <li><a href="#"><i class="fa fa-circle-o"></i> test4</a></li>
                <li><a href="#"><i class="fa fa-circle-o"></i> test5 </a></li>
                <li><a href="#"><i class="fa fa-circle-o"></i> test6 </a></li>

            </ul>
        </li>
        <li><a href="#"><i class="fa fa-circle-o"></i> Level One</a></li>
    </ul>
</li>

